*.o
*.so
*.lo
*.la
*.m4
.libs/
.deps/
ar-lib
config.status
install-sh
missing
src/.dirstamp
.dirstamp/
autom4te.cache/
Makefile
test-driver
depcomp
compile
config.guess
config.log
config.sub
configure
install.sh
libtool
ltmain.sh
Makefile.in
aclocal.m4
libopalevents.pc
